@media screen and (max-width: 500px) {
  .watchlist-btn {
    display: none;
  }
}

.watchlist-btn {
  margin-left: 10px;
  padding: 5px 10px;
}

.button_category {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: $minor-color;
  cursor: pointer;
  border: 2px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    background-color: $light-bg-color;
  }
}

.button_category {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button_category {
    padding: 0.25em 0.75em;
  }
}
